

.Landing {
    display: flex;
    flex-direction: column;
    width: 100%;
     height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../sourceimage/giphy\ \(3\).gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}








.Text{

font-family: "Arial";
font-size: 6em;
font-weight: 500;
color: #131313;
letter-spacing: 3px;
cursor: pointer;
transition: 1s;
}
.Text:hover{
    color: #ffffff;
    text-shadow: 0 0 5px yellow,
    0 0 25px yellow,
    0 0 50px yellow,
    0 0 100px yellow;
}
:root{
    --color: #60fd00;
}

.Button{
padding: 20px 60px; letter-spacing: 3px;
background: rgb(15, 20, 0)
var(--color); font-weight: bold;
border-radius: 5px; border: 1px solid yellow;
transition: 0.3s;
margin-top: 15px;
margin-bottom: 15px;

}

.Button:hover{
    background-color: yellow;
    color: #000;
    box-shadow: 0 0 5px yellow,
    0 0 25px yellow,
    0 0 50px yellow;
}



section{
  width: 200px;

}




/* .img1{
position: absolute;
    top: 57.4%;
    left: 45%;

}
.img2{
    position: absolute;
        top: 57.8%;
        left: 49.2%;

    }
    .img3{
        position: absolute;
            top: 57.5%;
            left: 53%;

        } */

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Social Icons */

.social{
	height: 10rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


.social li a{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 30vh;
    justify-content: space-around;
    justify-self: center;
    margin-left: 1vw;
    padding: .2vw;
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 7px;
	
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	
	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px #fff00f;
	-moz-box-shadow: inset 0 0 0 40px #fff00f;
	-o-box-shadow: inset 0 0 0 40px #fff00f;
	-ms-box-shadow: inset 0 0 0 40px #fff00f;
	box-shadow: inset 0 0 0 40px #fff00f;
	
	color: #fff;
}

.social li a:hover{
	-webkit-box-shadow: inset 0 0 0 3px #fff00f;
	-moz-box-shadow: inset 0 0 0 3px #fff00f;
	-o-box-shadow: inset 0 0 0 3px #fff00f;
	-ms-box-shadow: inset 0 0 0 3px #fff00f;
	box-shadow: inset 0 0 0 3px #fff00f;
	
	color: #fff00f;
}


